@page
@model TestUser.Pages.Sessions.DetailsModel

<div>
    <h4>Session</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.UserID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.SessionStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.SessionEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.SessionInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Session.SessionID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
