@page
@model TestUser.Pages.Sessions.IndexModel

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Session[0].UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Session[0].SessionStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Session[0].SessionEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Session[0].SessionInfo)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Session)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionInfo)
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.SessionID">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.SessionID">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.SessionID">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
